.example-appear{
opacity: 0.001;
}
.example-appear.example-appear-active {
    opacity: 1;
    transition: opacity 9000ms ease-in;
}
.example-leave {
    opacity: 1;
}
.example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 5000ms ease-in;
}
